*{
    margin: 0;
    padding: 0;
}
.nr{
    padding-top: 30px;
    margin: 30px auto;
    width: 1200px;
    border-radius: 10px;
    height: 800px;
    transition: all 1s;
    box-shadow: 0 0 10px 	#FF7F50 ;
}
.p1{
    margin: 0 0 0 150px;
    color: #000;
    font-size: 30px;
}
.p2{
    margin: 0 0 0 150px;
    color: #808080;
}
.scf{
    float: left;
    width: 690px;
    height: 370px;
    display: block;
    margin: 30px 0 0 90px;
    border-radius: 10px;
    overflow: hidden;
}
.rscf{
    margin: 30px 0 0 10px;
    float: left;
    display: block;
    width: 410px;
    border-radius: 10px;
}
.rscf img{
    border-radius: 10px;
}
.pr{
    text-indent: 2em;
    margin-top: 30px;
    padding-top: 30px;
    margin-left: 90px;
    float: left;
    height: 100px;
    width: 1000px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.jysj{
    margin-left: 90px;
    width: 800px;
}
.jysj span{
    line-height: 50px;
    float: left;
    display: block;
    width: 280px;
    margin-right: 50px;
}
.gl{
    padding-top: 300px;
    margin: 0 auto;
    width: 400px;
    height: 900px;
    font-size: 50px;
}